<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038411454604-15fhb7u15npj7fvuohel7616naott1dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038411454604-15fhb7u15npj7fvuohel7616naott1dg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038411454604-7568drml8ksi8mj535ue8ddbibu6t0i8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQCYp5mFe07YFhVvIL7SuvIaG7k7L6Mvw</string>
	<key>GCM_SENDER_ID</key>
	<string>1038411454604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyeda.fitmate</string>
	<key>PROJECT_ID</key>
	<string>fitmate-cf118</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmate-cf118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038411454604:ios:5f8178af201fdef2a703a9</string>
</dict>
</plist>
